*.jl.cov
*.jl.*.cov
*.jl.mem

.DS_Store

/stdlib/*

doc/src/base
doc/src/devdocs
doc/src/manual

doc/build/
doc/site/

doc/src/stdlib/
doc/deps

*.ipynb_checkpoints
**/*.ipynb_checkpoints
**/**/*.ipynb_checkpoints

_*.dat
*.swp
__pycache__/
