# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
# os:
#   - linux
#   - osx
# julia:
#   - 1.0
#   - 1.1
#   - nightly
# matrix:
#   allow_failures:
#     - julia: nightly
#   fast_finish: true
notifications:
  email: false
# after_success:
#   - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
#   - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Coveralls.submit(process_folder())'

env:
  global:
    - DOCUMENTER_DEBUG=true

jobs:
  include:
    - stage: "Documentation"
      julia: 1.3
      os: linux
      script:
        - docker version
        - julia -e 'include("contrib/build_sysimg.jl"); build_sysimg(force=true)'
        - julia --project=doc/ -e 'using Pkg; Pkg.instantiate(); Pkg.add(PackageSpec(path=pwd()))'
        - julia --project=doc/ doc/make.jl deploy
        - travis_wait 50 julia --project=doc/ doc/make.jl pdf texplatform=docker
      services: docker
