name: Documentation

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  HTML:
    runs-on: ubuntu-latest
    permissions:
      actions: write # needed to allow julia-actions/cache to proactively delete old caches that it has created
      contents: write
      statuses: write
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1.10'
          show-versioninfo: true
      - uses: julia-actions/cache@v2
      - name: Install dependencies
        shell: julia --project=docs --color=yes {0}
        run: |
          using Pkg
          Pkg.develop(PackageSpec(path=pwd()))
          Pkg.instantiate()
      - name: Build and deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
        run: |
          julia -e 'include("contrib/build_sysimg.jl"); build_sysimg(force=true)'
          julia --project=doc/ doc/make.jl deploy
