name: Documentation

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}-pdf
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  PDF:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1.10'
          show-versioninfo: true
      - name: Install dependencies
        shell: julia --project=doc --color=yes {0}
        run: |
          using Pkg
          Pkg.develop(PackageSpec(path=pwd()))
          Pkg.instantiate()
      - name: Build PDF
        timeout-minutes: 90
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
        run: julia --project=doc/ doc/make.jl deploy pdf texplatform=docker
      - name: upload complied PDF file
        uses: actions/upload-artifact@v4
        with:
          name: compiled contents
          path: doc/build/*.pdf
